* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    border: 2px solid red;
    background-color: black;
    color:rgb(104, 95, 81);
    min-height: 100vh;
    background-image: linear-gradient(
        to bottom,
        rgb(90, 0, 90) 0%,
        rgba(90, 0, 90, 0.10) 15%,
        rgba(90, 0, 90, 0.10) 85%,
        rgb(90, 0, 90) 100%
    );
}

header {
    text-align: center;
    height: 70px;
    color:cornsilk;
    font-size: 30px;
}

.tbody {
    display:flex;
    border: green solid 2px;
    border-radius: 5px;
    margin: 0 auto;
    max-width: 600px;
}

.logoynav {
    border-right: solid green 2px;
}

.smenu {
    border-bottom: green solid 2px;
}

footer {
    position: fixed;
    height: 70px;
    text-align: center;
    width: 100%;
    bottom: 0;
    color:cornsilk;
    font-size: 30px;
}





