* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: black;
    color:rgb(104, 95, 81);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-image: linear-gradient(
        to bottom,
        rgb(90, 0, 90) 0%,
        rgba(90, 0, 90, 0.10) 15%,
        rgba(90, 0, 90, 0.10) 85%,
        rgb(90, 0, 90) 100%
    );
}



header {
    text-align: center;
    color:cornsilk;
    font-size: 30px;
}

.tbody {
    display:flex;
    border: green solid 2px;
    border-radius: 5px;
    margin: 0 auto;
    max-width: 600px;
}

.logoynav {
    display: flex;
    max-width: 20%;
    min-width: 120px;
    flex-direction: row;
    flex-wrap: wrap;
    border-right: solid green 2px;
    background-color: lightpink;
    text-align: center;
    align-items: stretch;
}

.smenu {
    margin: 0;
    padding: .5rem 1rem;
    width: 100%;
    border-bottom: green solid 2px;
}

.smenu.imgspoty {
    padding: 0;
}

.smenu.imgspoty img {
    width: 100%;
}

.smenu:last-child {
    border: transparent;
}

.smenu:hover {
    background-color: rgba(0,150,0,.2);
}


footer {
    position: fixed;
    text-align: center;
    width: 100%;
    bottom: 0;
    color:cornsilk;
    font-size: 30px;
}



@media screen and (max-width: 600px) {
    body {
        background-image: linear-gradient(
            /* #0e8fb9 */
            to bottom,
            #0e8fb9 0%,
            rgba(90, 0, 90, 0.10) 15%,
            rgba(90, 0, 90, 0.10) 85%,
            #0e8fb9 100%
        );

    }

    .tbody {
        display: flex;
        flex-direction: column;
    }

    
    .logoynav {
        max-width: 100%;
    }
}
